@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-archivo: Archivo;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-lgi: 19px;
  --font-size-xs: 12px;
  --font-size-21xl-4: 40.4px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;

  /* Colors */
  --light-text: #787878;
  --dark: #171e1d;
  --color-gray-100: rgba(0, 0, 0, 0.85);
  --light-grey-border: #e8ecf2;
  --color-black: #000;
  --light-bg: #f4f4f4;
  --accent: #00c29f;
  --white: #fff;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-xl: 20px;
  --gap-0: 0px;
  --gap-sm: 14px;
  --gap-9xs: 4px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-11xl: 30px;
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-2xs: 11px;
  --padding-base: 16px;
  --padding-11xs: 2px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-sm: 14px;
  --padding-8xs: 5px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-smi: 13px;
  --padding-mini: 15px;
  --padding-mid: 17px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-3xs: 10px;
  --br-smi: 13px;
  --br-4xs: 9px;
  --br-9xs: 4px;
}
